body {
    min-width: 320px;
    height: 100vh;
    min-height: 100vh;
    background-color: #fff;
    color: $main-color;
    font-family: $font-sans-serif;
    font-size: 14px;
    line-height: 1.4;

    @media (min-width: $tablet) {
        font-size: 15px;
    }

    @media (min-width: $desktop) {
        font-size: 18px;
    }

    &.no-scroll {
        overflow: hidden;
    }
}

.container {
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;

    @media (min-width: $tablet) {
        max-width: 1024px;
        padding: 0 30px;
    }

    @media (min-width: $desktop) {
        max-width: 1494px;
    }
}

.section {
    min-height: 100vh;
}
