.more {
    width: 201px;
    height: 96px;
    display: flex;

    @media (min-width: $tablet) {
        width: 330px;
        height: 157px;
        font-size: 18px;
    }

    &__link {
        margin: auto;
        text-decoration: none;
        text-transform: uppercase;
    }
}
