.social {
    @include no-list;
    display: flex;
    font-size: 0;
    margin-bottom: 40px;
    width: 133px;
    height: 20px;
    justify-content: space-between;
    align-items: center;

    a {
        display: block;
        text-decoration: none;
    }

    &__icon {
        &:hover {
            fill: $main-color;
        }

        &--vk {
            height: 12px;
            width: 22px;
        }

        &--ok {
            height: 20px;
            width: 13px;
        }

        &--ig {
            width: 18px;
            height: 18px;
        }
    }
}
