.social {
    @include no-list;
    display: flex;
    font-size: 0;
    width: 133px;
    height: 20px;
    justify-content: space-between;
    align-items: center;

    @media (min-width: $desktop) {
        width: 182px;
    }

    a {
        display: block;
        text-decoration: none;
    }

    &__icon {
        transition: fill 0.25s ease-out 0s, stroke 0.25s ease-out 0s;

        &--vk {
            fill: $second-color;
            height: 12px;
            width: 22px;

            &:hover {
                @media (min-width: $tablet) {
                    fill: $hover-color;
                }
            }
        }

        &--ok {
            fill: $second-color;
            height: 20px;
            width: 13px;

            &:hover {
                @media (min-width: $tablet) {
                    fill: $hover-color;
                }
            }
        }

        &--ig {
            fill: none;
            stroke: $second-color;
            width: 18px;
            height: 18px;

            &:hover {
                @media (min-width: $tablet) {
                    stroke: $hover-color;
                }
            }
        }
    }
}
