.tabs {
    @include no-list;

    >li:not(:first-child) {
        @media (max-width: 1023px) {
            margin-left: 10px;
        }
    }

    >li {
        @media (min-width: $tablet) {
            margin-left: 30px;
            margin-bottom: 25px;
        }

        @media (min-width: $desktop) {
            margin-left: 15px;
        }

        @media (min-width: 1460px) {
            margin-left: 30px;
        }
    }

    @media (min-width: $tablet) {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        max-height: 385px;
    }

    @media (min-width: $desktop) {
        min-height: 675px;
        overflow: visible;
    }
}

.tab {
    @include no-btn;
    background-color: transparent;
/*    background-color: red;*/
    border-radius: 16px;
    height: 96px;
    width: 131px;
    display: flex;
    flex-direction: column;
    padding: 20px 20px 10px;
    font-family: $font-serif;
    transition: background-color 0.25s ease-out 0s;
    text-align: left;
    word-wrap: break-word;
    hyphens: auto;

    @media (min-width: $tablet) {
        font-size: 18px;
        line-height: 20px;
        width: 219px;
        height: 160px;
        align-items: center;
        justify-content: center;
        padding: 10px 30px;
        text-align: center;
    }

    @media (min-width: $desktop) {
        font-size: 20px;
        line-height: 24px;
        width: 295px;
        height: 190px;
    }

    &:hover,
    &--active {
        background-color: #213067;
        color: $second-color;

        .tab__icon {
            fill: $second-color;
        }
    }

    &__icon {
        fill: $main-color;
        transition: fill 0.25s ease-out 0s;
        max-height: 26px;
        max-width: 42px;
        margin-bottom: 10px;

        @media (min-width: $tablet) {
            max-height: 50px;
            max-width: 60px;
            margin-bottom: 30px;
        }

        @media (min-width: $desktop) {
            height: 50px;
            margin-bottom: 17px;
        }
    }
}
