.about {
    background-color: #213067;
    color: $second-color;
    display: flex;
    height: 100vh;

    @media (min-width: $tablet), (orientaion: portrait) {
        min-height: 625px;
    }

    &__video {
        position: absolute;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 0;
        width: 100%;
        height: auto;
        z-index: 0;
        overflow: hidden;
        min-height: 289px;

        @media (min-width: $max) {
            top: 0;
            height: 100%;
        }

        @media (min-width: $tablet) {
            min-height: 625px;
        }

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(#000, 0.5);
            z-index: 1;
        }

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100px;
            background: linear-gradient(0deg, #213067 0%, rgba(#213067, 0) 57.5%);
            z-index: 2;

            @media (min-width: $max) {
                display: none;
            }
        }

        video {
            height: 100%;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            object-fit: cover;
            width: 100%;


        }
    }

    &__container {
        padding-top: 214px;
        padding-bottom: 20px;
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;

        @media (min-width: $max) {
            padding-top: 50px;
            display: flex;
            margin: auto;
        }
    }

    &__title {
        font-size: 50px;
        margin-top: 0;
        margin-bottom: 0;
        font-family: $font-serif;
        font-weight: 400;
        text-transform: uppercase;

        @media (min-width: $max) {
            font-size: 112px;
            line-height: 1;
        }
    }

    &__subtitle {
        font-size: 16px;
        letter-spacing: 0.1em;
        margin: 0;
        font-family: $font-serif;

        @media (min-width: $max) {
            letter-spacing: 0.27em;
            font-size: 26px;
        }
    }

    &__slider {
        position: relative;
        margin-top: 18px;

        @media (min-width: $max) {
            margin-top: 54px;
        }
    }

    &__text {
        margin: 0;
        max-width: 320px;

        @media (min-width: $max) {
            max-width: 480px;
        }

        @media (min-width: $max) and (max-width: $desktop) {
            font-size: 16px;
        }
    }

    &__pagination {
        @media (min-width: $max) {
            margin-top: 40px;
        }
    }

    &__more {
        margin-top: 14px;
        margin-bottom: 14px;

        @media (min-width: $max) {
            position: absolute;
            right: 0;
            top: -80px;
        }
    }
}
