.about {
    background-color: $main-color;
    color: $second-color;
    position: relative;
    display: flex;

    &::before {
        content: "";
        background: linear-gradient(180deg, #213067 0%, rgba(#213067, 0) 57.5%);
        position: absolute;
        top: 0;

    }


    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(#000, 0.5);
        z-index: 1;
    }

    &__video {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        z-index: 0;
        width: 100%;
        height: auto;

        @media (min-width: $tablet) {
            height: 100%;
        }



        video {
            height: auto;
            width: 100%;

            @media (min-width: $tablet) {
                object-fit: cover;
                height: 100%;
            }
        }


    }

    &__container {
        margin: auto;
        position: relative;
        z-index: 2;
    }
}
