/*.header {
    padding-top: 24px;
    padding-bottom: 30px;

    @media (min-width: $laptop) {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 35px;
        padding-left: 35px;

        @media (min-width: $laptop) {
            padding-right: 60px;
            padding-left: 60px;
        }
    }

    &__logo {
        max-width: 106px;

        @media (min-width: $tablet) {
            max-width: 150px;
        }
    }

    &__link {

        @include no-link;

        display: none;
        width: 20px;
        height: 20px;
        background: url(../img/icon-link.png) no-repeat 50% 50%;
        font-size: 0;

        @media (min-width: $tablet) {
            display: block;
        }

        &:hover {
            transform: scale(1.2);
            transition: transform 0.25s ease-out 0s;
        }
    }
}
*/
