.header {
    position: fixed;
    z-index: 10;
    width: 100%;
    padding: 40px 0;
    background: linear-gradient(180deg, #213067 0%, #213067 20px, rgba(#213067, 0) 57.5%);
    color: $second-color;

    @media (min-width: $max) {
        background: none;
        padding: 23px 0;
    }

    @media (min-width: $desktop) {
        padding: 38px 0;
    }

    &--scroll {
        background: linear-gradient(180deg, $second-color 0%, rgba($second-color, 0) 100%);
        color: $main-color;

        .header__logo {
            fill: $main-color;
        }

        .social__icon--vk,
        .social__icon--ok {
            fill: $main-color;
        }

        .social__icon--ig {
            stroke: $main-color;
        }

    }

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        display: block;
        min-width: 124px;
        max-width: 184px;
        width: 38.75%;
        fill: $second-color;
        transition: fill 0.25s ease-in 0s;
    }

    &__nav {
        @media(min-width: $tablet) {
            margin-left: 66px;
        }

        @media(min-width: $desktop) {
            margin-left: 120px;
        }
    }

    &__social {
        margin-bottom: 40px;

        @media(min-width: $tablet) {
            margin-bottom: 0;
            margin-left: 134px;
        }

        @media(min-width: $desktop) {
            margin-left: 152px;
        }
    }
}
