<section class="section about" id="about">
    <div class="about__video">
        <video autoplay loop muted playsinline preload="auto" poster="/img/about.jpg">
            <source src="img/about.av1.mp4" type="video/mp4; codecs=av01.0.05M.08">
            <source src="img/about/animation.h264.mp4" type="video/mp4">
        </video>
    </div>
    <div class="container about__container">
        <h1 class="about__title">Vinford</h1>
        <p class="about__subtitle">Quality International School</p>
        <div class="slider about__slider">
            <div class="slider__wrapper">
                <div class="slider__slide">
                    <p class="about__text">Cамая большая сеть Английских детских садов в России. Нам доверили воспитание своих деток более 5000 Пап и Мам.</p>
                </div>
                <div class="slider__slide">
                    <p class="about__text">Педагоги English school</p>
                </div>
                <div class="slider__slide">
                    <p class="about__text">Уже с трех лет наши малыши начинают интенсивно изучать Английский язык</p>
                </div>
            </div>
            <div class="more about__more">
                <a class="more__link" href="#parents">Подробнее</a>
            </div>
            <div class="slider__pagination about__pagination">
                <button class="slider__bullet slider__bullet--active" type="button">К первому слайду</button>
                <button class="slider__bullet" type="button">Ко второму слайду</button>
                <button class="slider__bullet" type="button">К третьему слайду</button>
            </div>
        </div>
    </div>
</section>
