<section class="section about" id="about">
    <div class="about__video">
        <video autoplay loop muted playsinline preload="auto" poster="/img/about.jpg">
            <source src="img/about.av1.mp4" type="video/mp4; codecs=av01.0.05M.08">
            <source src="img/about/animation.h264.mp4" type="video/mp4">
        </video>
    </div>
    <div class="container about__container">
        <div class="about__text">
            <h1 class="about__title">Vinford</h1>
            <p class="about__subtitle">Quality International School</p>
            <div class="slider about__slider">
                <div class="slider-wrapper">
                    <div class="slider__slide">
                        <p>Cамая большая сеть Английских детских садов в России. Нам доверили воспитание своих деток более 5000 Пап и Мам.</p>
                    </div>
                    <div class="slider__slide">
                        <p>Педагоги English school</p>
                    </div>
                    <div class="slider__slide">
                        <p>Уже с трех лет наши малыши начинают интенсивно изучать Английский язык</p>
                    </div>
                </div>
                <div class="slider__pagination">
                    <button class="slider__bullet" type="button">К первому слайду</button>
                    <button class="slider__bullet" type="button">Ко второму слайду</button>
                    <button class="slider__bullet" type="button">К третьему слайду</button>
                </div>
            </div>
        </div>
        <div class="about__more">
            <button class="more" type="button">Подробнее</button>
        </div>
    </div>
</section>
