<section class="section features" id="features">
    <div class="container features__container">
        <div class="features__content">
            <h2 class="title features__title">Наши<br>преимущества</h2>
            <div class="features__img">
                <img src="img/feature-health.jpg" alt="Здоровье детей">
            </div>
            <div class="features__text">
                <h3 class="subtitle features__subtitle">Здоровье детей</h3>
                <p class="features__desc">Следим за самочувствием ребенка во время нахождения в детском саду, регулярно проводим спортивные занятия с детьми</p>
            </div>
        </div>
        <ul class="tabs features__tabs">
            <li>
                <button class="tab tab--active" type="button" data-img="" data-desc="Следим за самочувствием ребенка во время нахождения в детском саду, регулярно проводим спортивные занятия с детьми">
                    <svg class="tab__icon tab__icon--health">
                        <use xlink:href="#icon-health"></use>
                    </svg>
                    <span>Здоровье детей</span>
                </button>
            </li>
            <li>
                <button class="tab" type="button">
                    <svg class="tab__icon tab__icon--video">
                        <use xlink:href="#icon-video"></use>
                    </svg>
                        <span>Видеонаблюдение</span>
                </button>
            </li>
            <li>
                <button class="tab" type="button">
                    <svg class="tab__icon tab__icon--language">
                        <use xlink:href="#icon-language"></use>
                    </svg>
                    <span>Английский с носителем</span>
                </button>
            </li>
            <li>
                <button class="tab" type="button">
                    <svg class="tab__icon tab__icon--food">
                        <use xlink:href="#icon-food"></use>
                    </svg>
                    <span>Питание</span>
                </button>
            </li>
            <li>
                <button class="tab" type="button">
                    <svg class="tab__icon tab__icon--education">
                        <use xlink:href="#icon-education"></use>
                    </svg>
                    <span>Образование</span>
                </button>
            </li>
            <li>
                <button class="tab" type="button">
                    <svg class="tab__icon tab__icon--adaptation">
                        <use xlink:href="#icon-adaptation"></use>
                    </svg>
                    <span>Система адаптации</span>
                </button>
            </li>
            <li>
                <button class="tab" type="button">
                    <svg class="tab__icon tab__icon--security">
                        <use xlink:href="#icon-security"></use>
                    </svg>
                    <span>Безопасность</span>
                </button>
            </li>
            <li>
                <button class="tab" type="button">
                    <svg class="tab__icon tab__icon--teacher">
                        <use xlink:href="#icon-teacher"></use>
                    </svg>
                    <span>Педагоги</span>
                </button>
            </li>
            <li><button class="tab" type="button">
                    <svg class="tab__icon tab__icon--walk">
                        <use xlink:href="#icon-walk"></use>
                    </svg>
                    <span>Прогулочные площадки</span>
                </button>
            </li>
        </ul>
    </div>
</section>
