<header class="header" hidden>
    <div class="container header__container">

        <a class="logo header__logo" href="#about">
            <img src="img/" alt="">
        </a>

        <div class="header__wrapper">
                    <nav class="nav">
            <ul class="nav__list">
                <li><a class="nav__link" href="#about">О нас</a></li>
                <li><a class="nav__link" href="#parents">Родителям</a></li>
                <li><a class="nav__link" href="#contacts">Наши сады</a></li>
                <li><a class="nav__link" href="#contacts">Контакты</a></li>
            </ul>
        </nav>
        <ul class="phone">
            <li><a href="tel:+88005559516">8 800 555 9516</a></li>
            <li><a href="tel:+79104230336">7 910 423 0336</a></li>
        </ul>
        </div>

        <ul class="social">
            <li>
                <a href="https://vk.com/" target="_blank" rel="noopener noreferrer">
                    ВКонтакте
                </a>
            </li>
            <li>
                <a href="https://ok.ru/" target="_blank" rel="noopener noreferrer">
                    Одноклассники
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/?hl=ru" target="_blank" rel="noopener noreferrer">
                    Инстаграм
                </a>
            </li>
        </ul>
    </div>
</header>
