<!DOCTYPE html>
<html lang="ru">
@@include('../_includes/_head.html')
<body>
    <div class="svg-wrapper">
        @@include('../../img/icons.svg')
    </div>
    <div class="wrapper">
        <!-- @@include('../_includes/_header.html') -->
        <main class="main">
           <!--  @@include('../_includes/_about.html') -->
            @@include('../_includes/_features.html')
        </main>
    </div>
    <!-- build:js-->
    <script src="js/scripts.js"></script>
    <!-- endbuild-->
</body>

</html>
