.nav {
    position: absolute;
    z-index: 11;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100vh;
    padding: 20px 40px;
    background-color: $main-color;
    font-size: 15px;
    transition: left 0.25s linear 0s;

    @media (min-width: $tablet) {
        position: static;
        display: flex;
        height: auto;
        align-items: center;
        justify-content: space-between;
        padding: 0;
        background-color: transparent;
    }

    @media (min-width: $desktop) {
        font-size: 18px;
    }

    &.nav--active {
        left: 0;
        color: $second-color;
    }

    &__wrapper {

        @media (min-width: $tablet) {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: space-between;
        }
    }

    &__list {

        @include no-list;

        margin-bottom: 40px;

        @media (min-width: $tablet) {
            display: flex;
            margin-bottom: 0;
        }

        >li:not(:last-child) {
            margin-bottom: 20px;

            @media (min-width: $tablet) {
                margin-right: 21px;
                margin-bottom: 0;
            }

            @media (min-width: $desktop) {
                margin-right: 50px;
            }
        }
    }

    &__link {
        text-decoration: none;
        transition: color 0.25s ease-out 0s;

        &:hover {

            @media (min-width: $tablet) {
                color: $hover-color;
            }
        }
    }
}
