.slider {
    &__list {
        @include no-list;
        position: relative;
        touch-action: none;
        height: 80px;
        overflow: hidden;
        word-wrap: break-word;
        hyphens: auto;

        @media (min-width: $tablet) {
            height: 160px;
        }

        @media (min-width: $desktop) {
            height: 200px;
        }
    }

    &__item {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity 0.25s ease;

        &--active {
            z-index: 2;
            opacity: 1;
        }


    }

    &__pagination {
        line-height: 0;
    }

    &__bullet {
        @include no-btn;
        font-size: 0;
        width: 60px;
        height: 16px;
        padding-top: 6px;
        padding-bottom: 6px;
        opacity: 0.2;

       &::before {
            content: "";
            background-color: $second-color;
            height: 4px;
            display: block;
            border-radius: 2px;
       }

        @media (min-width: $tablet) {
            width: 92px;
        }

        &:not(:last-child) {
            margin-right: 8px;
        }

        &--active {
            opacity: 1;
        }
    }
}
