body {
    min-width: 320px;
    background-color: #fff;
    color: $main-color;
    font-size: 14px;
    font-family: $font-sans-serif;
    height: 100vh;
    min-height: 100vh;

    @media (min-width: $tablet) {
        font-size: 15px;
    }

    @media (min-width: $desktop) {
        font-size: 18px;
    }
}

.container {
    margin: 0 auto;
    padding: 0 20px;

    @media (min-width: $tablet) {
        padding: 0 30px;
        max-width: 964px;
    }

    @media (min-width: $desktop) {
        max-width: 1434px;
    }
}

.main {

}

.section {
    height: 100vh;
    min-height: 100vh;
}
