@mixin no-btn {
    padding: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

@mixin no-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

@mixin no-link {
    color: currentColor;
    text-decoration: none;
}
