$font-sans-serif: "IBM Plex Sans", "Segoe UI", roboto, "Helvetica Neue", helvetica, arial, sans-serif;
$font-serif: "Playfair Display", georgia, times, "Times New Roman", serif;

$main-color: #182141;
$second-color: #fff;
$third-color: #6481ea;

$desktop: 1434px;
$tablet: 1024px;
$max: 740px;

