$font-sans-serif: arial, "Segoe UI", roboto, "Helvetica Neue", helvetica, sans-serif;
$font-base: 12px/1.5 $font-sans-serif;

$main-color: #1e1e1e;
$second-color: #4764b0;
$border-color: #d2c8c8;

$desktop: 1340px;
$laptop: 1020px;
$tablet: 700px;

$border: 1px solid $border-color;
